Flask==3.1.2
flask-cors==6.0.1
gitdb==4.0.12
GitPython==3.1.45
httpcore==1.0.9
httpx==0.28.1
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
openai==2.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
rpds-py==0.28.0
selenium==4.38.0
stack-data==0.6.3
